


.mainPageSelectionName
  display: flex
  align-items: center
  justify-content: start
  margin-left: 330px
  height: 300px

.mainPagePrice
  display: flex
  justify-content: center
  margin-bottom: 100px